@model TODO_assignment.Models.TaskItem

@{
    ViewBag.Title = "Index";
}

<div id="TaskList"></div>
<div id="TaskCreate">
    @using (Ajax.BeginForm("AJAXCreate", "TaskItems",
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            UpdateTargetId = "TaskList"

                        }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            <div>
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Add an task..." } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>
<br>
@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/App_Scripts/ReloadTasks.js"></script>  
    @Scripts.Render("~/bundles/jqueryval")
}